<div class="container">
  <h1>The form to link <%= @plant.name %> to tag</h1>
  

  <%= simple_form_for([@plant, @plant_tag]) do |f| %>
    <%= f.association :tag, input_html: { multiple: 'true', class: 'multiple-select' }, include_hidden: false %>

    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
    
</div>

