<div class="banner text-center mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?garden);">
  <div class="container">
    <h1>Welcome to my garden</h1>
  </div>
</div>