<%= render 'shared/banner' %>

<div class="container">
  <div class="card-container">
    <% @gardens.each do |garden| %>
      <div class="card-category" 
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= garden.banner_url %>)"
      >
        <%= link_to garden_path(garden), class: 'text-decoration-none text-reset' do %>
          <%= garden.name %>
        <% end %>
      </div>
    <% end %>
  </div>  
</div>